/*导航开始*/

.nav{
    width: 93px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 1000;
}
.nav_bg_logo,.nav_bg_list{
    position: absolute;
    top: 0;
    left: 0;
    width: 93px;
    height: 64px;
    z-index: -1;
    opacity: 0.9;
    background: #FF972D;
}
.nav_bg_list{
    height: 107px;
    z-index: 1;
    top: 169px;
    background: none;
    transition: none;
}
.sub_nav_wrap{
    position: absolute;
    left: 93px;
    top: 0;
    bottom: 0;
    width: 93px;
    z-index: 10;
    overflow: hidden;
    display: none;
}
.sub_nav{
    position: absolute;
    top: 0;
    bottom: 0;
    left: -93px;
    width: 93px;
    opacity: 0.9;
    display: block;
    transition: all ease 0.3s;
}
.logo{
    display: block;
    width: 100%;
    height: 64px;
    background: url("../img/logo.png") center no-repeat;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.nav_main_wrap{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.nav_main{
    height: 654px;
    width: 100%;
    flex-wrap: wrap;
    align-content: flex-start;
    background: #FFFFFF;
}
.nav_home,.nav_about,.nav_product,.nav_duty,.nav_news{
    width: 100%;
    height: 105px;
    position: relative;
    left: 0;
    top: 0;
    background: #FFFFFF;
    z-index: 10;
    margin-bottom: 1px;
}

.nav_item_wrap{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0 15px;
}
.nav_item{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    border-bottom: 1px solid #898A87;
}
.nav_item>u{
    width: auto;
    height: auto;
    display: flex;
    background: #FFFFFF;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.nav_item>u>i{
    display: block;
    width: 40px;
    height: 56px;
    margin-bottom: 13px;
}
.nav_item>u>b{
    width: 93px;
    font-size: 13px;
    color: transparent;
    text-align: center;
    display: block;
}
.nav_home i{
    background: url("../img/3l.png") 0 0px no-repeat;
}
.nav_about i{
    background: url("../img/3l.png") -45px -60px no-repeat;
}
.nav_product i{
    background: url("../img/3l.png") 0 -120px no-repeat;
}
.nav_duty i{
    background: url("../img/3l.png") 0 -180px no-repeat;
}
.nav_news i{
    background: url("../img/3l.png") 0 -240px no-repeat;
}
.nav_home b{
    background: url("../img/be.png") 50% 3px no-repeat;
}
.nav_about b{
    background: url("../img/be.png") 50% -88px no-repeat;
}
.nav_product b{
    background: url("../img/be.png") 50% -28px no-repeat;
}
.nav_duty b{
    background: url("../img/be.png") 50% -43px no-repeat;
}
.nav_news b{
    background: url("../img/be.png") 50% -57px no-repeat;
}
.nav_item_wrap>ul{
    position: absolute;
    width: 93px;
    left: 93px;
    top: 0;
    overflow: hidden;
    display: none;
    z-index: 20;
}
.nav_item_wrap>ul>li{
    position: relative;
    left: -93px;
    top: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    text-align: center;
    transition: all ease 0.2s;
}
.nav_item_wrap>ul>li:hover{
    background: rgba(255,255,255,0.3);
}
.nav_item_wrap>ul>li>a{
    color: #FFFFFF;
}

/*导航结束*/

/*主体开始*/
.page_wrap{
    position: absolute;
    left: 0;right: 0;top: 0;bottom: -325px;
    background: url("../img/j.d.jpg") center no-repeat;
    background-size: cover;
    overflow: hidden;
}
.content_area{
    position: absolute;
    left: 93px;right: 0;top: 0;bottom: 325px;
    background: url("../img/c2.png") 120px 63px no-repeat;
    overflow: hidden;
    z-index: 1;
    display: flex;
    justify-content: flex-start;
}
.water_column{
    width: 100%;
    height: 100%;
    float: left;
    position: relative;
    text-align: center;
    z-index: 20;
}
.water_column>a{
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -100%;
    height: 64.7%;
    cursor: pointer;
}
.water_column .column_bg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 300%;
    padding-top: 91%;
    overflow: hidden;
}
.water_column .column_bg u {
    display: block;
    height: 500%;
    position: relative;
    padding-top: 60%;
    font-style: normal;
}
.water_column_1 .column_bg u{
    background-color: #f39e38;
}
.water_column_2 .column_bg u{
    background-color: #EB6B64;
}
.water_column_3 .column_bg u{
    background-color: #71BDE4;
}
.water_column_4 .column_bg u{
    background-color: #81C043;
}
.water_column a em {
    display: block;
    position: relative;
    pointer-events: none;
    padding-top: 141.5%;
    height: 0;
}
.water_column_1 a em{
    background:url("../img/bJ.png") 0 0 no-repeat;
    background-size: 100%;
}
.water_column_2 a em{
    background:url("../img/bL (1).png") 0 0 no-repeat;
    background-size: 100%;
}
.water_column_3 a em{
    background:url("../img/bN.png") 0 0 no-repeat;
    background-size: 100%;
}
.water_column_4 a em{
    background:url("../img/bP.png") 0 0 no-repeat;
    background-size: 100%;
}
.water_column span {
    width: 122px;
    display: inline-block;
    padding: 10px 0 9px;
    border: 2px solid #fff;
    border-radius: 25px;
    margin: 26px auto;
    position: relative;
    vertical-align: middle;
    color: #ffffff;
    font-size: 16px;
    transition: .3s;
}
.banner_shadow {
    background-color: rgba(0,0,0,.12);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
    opacity: 0;
    transition: opacity .3s;
}

/*页脚*/
.footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    overflow: visible;
    text-align: center;
    color: #b5b5b6;
    background: url("../img/u.jpg") center no-repeat;
    background-size: cover;
}
.footer_inner {
    margin-left: 93px;
    position: relative;
}
.social {
    padding: 61px 0 32px;
}
.footer a {
    color: #b5b5b6;
}
.social_item {
    display: inline-block;
    cursor: pointer;
    text-align: center;
    position: relative;
}
.social_item i {
    display: block;
    margin: 0 auto 15px;
    width: 54px;
    height: 54px;
    background: url(../img/8X.png) 0 0 no-repeat;
    background-size: 108px;
}
.social_weibo {
    margin-right: 20px;
}
.social_weixin i {
    background-position: -54px 0;
}
.footer .copyright {
    padding: 0 2em 86px;
    line-height: 1.8;
}
.footer .beian {
    width: 20px;
    height: 20px;
    background: url(../img/ef.png) 0 0 no-repeat;
    background-size: 100%;
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
    position: relative;
    top: -2px;
}
/*页脚结束*/
/*主体结束*/