/*导航开始*/

.nav{
    width: 93px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 1000;
}
.nav_bg_logo,.nav_bg_list{
    position: absolute;
    top: 0;
    left: 0;
    width: 93px;
    height: 64px;
    z-index: -1;
    opacity: 0.9;
    background: #00A244;
    transition: all ease 0.3s;
}
.nav_bg_list{
    height: 107px;
    z-index: 1;
    top: 275px;
    background: none;
    transition: none;
}
.sub_nav_wrap{
    position: absolute;
    left: 93px;
    top: 0;
    bottom: 0;
    width: 93px;
    z-index: 10;
    overflow: hidden;
    display: none;
}
.sub_nav{
    position: absolute;
    top: 0;
    bottom: 0;
    left: -93px;
    width: 93px;
    opacity: 0.9;
    display: block;
    transition: all ease 0.3s;
}
.logo{
    display: block;
    width: 100%;
    height: 64px;
    background: url("../img/logo.png") center no-repeat;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.nav_main_wrap{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.nav_main{
    height: 654px;
    width: 100%;
    flex-wrap: wrap;
    align-content: flex-start;
    background: #FFFFFF;
}
.nav_home,.nav_about,.nav_product,.nav_duty,.nav_news{
    width: 100%;
    height: 105px;
    position: relative;
    left: 0;
    top: 0;
    background: #FFFFFF;
    z-index: 10;
    margin-bottom: 1px;
}

.nav_item_wrap{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0 15px;
}
.nav_item{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    border-bottom: 1px solid #898A87;
}
.nav_item>u{
    width: auto;
    height: auto;
    display: flex;
    background: #FFFFFF;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.nav_item>u>i{
    display: block;
    width: 40px;
    height: 56px;
    margin-bottom: 13px;
}
.nav_item>u>b{
    width: 93px;
    font-size: 13px;
    color: transparent;
    text-align: center;
    display: block;
}
.nav_home i{
    background: url("../img/3l.png") 0 0px no-repeat;
}
.nav_about i{
    background: url("../img/3l.png") 0 -60px no-repeat;
}
.nav_product i{
    background: url("../img/3l.png") -45px -120px no-repeat;
}
.nav_duty i{
    background: url("../img/3l.png") 0 -180px no-repeat;
}
.nav_news i{
    background: url("../img/3l.png") 0 -240px no-repeat;
}
.nav_home b{
    background: url("../img/be.png") 50% 3px no-repeat;
}
.nav_about b{
    background: url("../img/be.png") 50% -12px no-repeat;
}
.nav_product b{
    background: url("../img/be.png") 50% -102px no-repeat;
}
.nav_duty b{
    background: url("../img/be.png") 50% -43px no-repeat;
}
.nav_news b{
    background: url("../img/be.png") 50% -58px no-repeat;
}
.nav_item_wrap>ul{
    position: absolute;
    width: 93px;
    left: 93px;
    top: 0;
    overflow: hidden;
    display: none;
    z-index: 20;
}
.nav_item_wrap>ul>li{
    position: relative;
    left: -93px;
    top: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    text-align: center;
    transition: all ease 0.2s;
}
.nav_item_wrap>ul>li:hover{
    background: rgba(255,255,255,0.3);
}
.nav_item_wrap>ul>li>a{
    color: #FFFFFF;
}

/*导航结束*/
/*主体开始*/
.page_wrap{
    position: absolute;
    left: 0;right: 0;top: 0;bottom: -325px;
    background-size: cover;
    overflow: hidden;
}
.content_area{
    position: absolute;
    left: 93px;right: 0;top: 0;bottom: 325px;
    overflow: hidden;
    z-index: 1;
    background: url(../img/1l.jpg) center no-repeat;
    background-size: cover;
}










/*页脚*/
.footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    overflow: visible;
    text-align: center;
    color: #b5b5b6;
    background: url("../img/u.jpg") center no-repeat;
    background-size: cover;
}
.footer_inner {
    margin-left: 93px;
    position: relative;
}
.social {
    padding: 61px 0 32px;
}
.footer a {
    color: #b5b5b6;
}
.social_item {
    display: inline-block;
    cursor: pointer;
    text-align: center;
    position: relative;
}
.social_item i {
    display: block;
    margin: 0 auto 15px;
    width: 54px;
    height: 54px;
    background: url(../img/8X.png) 0 0 no-repeat;
    background-size: 108px;
}
.social_weibo {
    margin-right: 20px;
}
.social_weixin i {
    background-position: -54px 0;
}
.footer .copyright {
    padding: 0 2em 86px;
    line-height: 1.8;
}
.footer .beian {
    width: 20px;
    height: 20px;
    background: url(../img/ef.png) 0 0 no-repeat;
    background-size: 100%;
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
    position: relative;
    top: -2px;
}
/*页脚结束*/
/*主体结束*/
.banner_item_title_wrap {
    z-index: 10;
    -webkit-mask-image: none;
    min-height: 350px;
}
.banner_item_mask {
	-webkit-mask-image: url(../img/6.svg);
    -webkit-mask-position: top right;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: auto 100%;
    position: absolute;
    top: -10px;
    bottom: -10px;
    left: -10px;
    right: 3%;
    -webkit-transform: translate3D(0,0,0);
}
.banner_item_mask_1{
    background: url(../img/1m.jpg) no-repeat;
    background-position:100% 50%;
    background-size: 63%;
}
.banner_item_mask_2{
	background: url(../img/1p.jpg) no-repeat;
    background-position: 100% 50%;
    background-size: 130%;
    right: 44.4%;
}
.title_wrap {
    position: absolute;
    width: 178px;
    height: 250px;
    margin-right: -90px;
    right: 46%;
    bottom: 8%;
    display: block;
    text-align: center;
    cursor: pointer;
    color: #333333;
    -webkit-transition: -webkit-transform .6s ease;
}
.banner_item_mask_1 .title_wrap {
    right: 23.6%;
}
.title_wrap i {
    background: url(../img/c0.png) 50% 0 no-repeat;
    background-size: 100%;
    display: block;
    width: 11px;
    height: 16px;
    margin: 101px auto 18px;
    position: relative;
    z-index: 1;
    visibility: hidden;
}
.title_wrap em {
    /*background: url(../img/b~.png) 50% 0 no-repeat;*/
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50% 85%;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: .75;
    -webkit-transition: -webkit-transform .6s ease;    
    -webkit-transform: scale(1.17);
    -webkit-transform-origin: 50% 90%;
    
}
.banner_item_mask_1 .title_wrap em {
    background-image: url(../img/9.svg);
}
.banner_item_mask_2 .title_wrap em {
    background-image: url(../img/7.svg);
}
.title_wrap b {
    display: block;
    background: url(../img/cG.png) 50% 0 no-repeat;
    /*background-size: auto 300%;*/
    height: 30px;
    overflow: hidden;
    font-size: 0;
    position: relative;
    background-size: auto 200%;
}
.banner_item_mask_2 .title_wrap b {
    background-position: 50% 100%;
}
.title_wrap span {
    display: block;
    width: 109px;
    height: 30px;
    color: #fff;
    margin: 17px auto 45px;
    position: relative;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 15px;
    -webkit-box-sizing: border-box;
    line-height: 28px;
    -webkit-transition: background .3s,color .3s;
}
