/*导航开始*/
body{
    width: 100%;
    height: 100%;
}
.nav{
    width: 93px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 1000;
}
.nav_bg_logo,.nav_bg_list{
    position: absolute;
    top: 0;
    left: 0;
    width: 93px;
    height: 64px;
    z-index: -1;
    opacity: 0.9;
    background: #FF6155;
}
.nav_bg_list{
    height: 107px;
    z-index: 1;
    top: 275px;
    background: none;
    transition: none;
}
.sub_nav_wrap{
    position: absolute;
    left: 93px;
    top: 0;
    bottom: 0;
    width: 93px;
    z-index: 10;
    overflow: hidden;
    display: none;
}
.sub_nav{
    position: absolute;
    top: 0;
    bottom: 0;
    left: -93px;
    width: 93px;
    opacity: 0.9;
    display: block;
    transition: all ease 0.3s;
}
.logo{
    display: block;
    width: 100%;
    height: 64px;
    background: url("../img/logo.png") center no-repeat;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.nav_main_wrap{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.nav_main{
    height: 654px;
    width: 100%;
    flex-wrap: wrap;
    align-content: flex-start;
    background: #FFFFFF;
}
.nav_home,.nav_about,.nav_product,.nav_duty,.nav_news{
    width: 100%;
    height: 105px;
    position: relative;
    left: 0;
    top: 0;
    background: #FFFFFF;
    z-index: 10;
    margin-bottom: 1px;
}

.nav_item_wrap{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0 15px;
}
.nav_item{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    border-bottom: 1px solid #898A87;
}
.nav_item>u{
    width: auto;
    height: auto;
    display: flex;
    background: #FFFFFF;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.nav_item>u>i{
    display: block;
    width: 40px;
    height: 56px;
    margin-bottom: 13px;
}
.nav_item>u>b{
    width: 93px;
    font-size: 13px;
    color: transparent;
    text-align: center;
    display: block;
}
.nav_home i{
    background: url("../img/3l.png") 0 0px no-repeat;
}
.nav_about i{
    background: url("../img/3l.png") 0 -60px no-repeat;
}
.nav_product i{
    background: url("../img/3l.png") -45px -120px no-repeat;
}
.nav_duty i{
    background: url("../img/3l.png") 0 -180px no-repeat;
}
.nav_news i{
    background: url("../img/3l.png") 0 -240px no-repeat;
}
.nav_home b{
    background: url("../img/be.png") 50% 3px no-repeat;
}
.nav_about b{
    background: url("../img/be.png") 50% -12px no-repeat;
}
.nav_product b{
    background: url("../img/be.png") 50% -102px no-repeat;
}
.nav_duty b{
    background: url("../img/be.png") 50% -43px no-repeat;
}
.nav_news b{
    background: url("../img/be.png") 50% -57px no-repeat;
}
.nav_item_wrap>ul{
    position: absolute;
    width: 93px;
    left: 93px;
    top: 0;
    overflow: hidden;
    display: none;
    z-index: 20;
}
.nav_item_wrap>ul>li{
    position: relative;
    left: -93px;
    top: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    text-align: center;
    transition: all ease 0.2s;
}
.nav_item_wrap>ul>li:hover{
    background: rgba(255,255,255,0.3);
}
.nav_item_wrap>ul>li>a{
    color: #FFFFFF;
}

/*导航结束*/
/*主体开始*/
.page_wrap{
    width: 100%;
    height: 100%;
    background-image: url("../img/d.d1.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
}
.content_area{
    width: 100%;
    height: 1000px;
    position: relative;
    left: 0;right: 0;top: 0;bottom: 0;
    padding-left: 93px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    box-sizing: border-box;
}
.brandlist{
    height: 480px;
    margin-right: 2px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
}
.branditem{
    width: 177px;
    height: 117px;
    margin-bottom: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.brandlist1,.brandlist2,.brandlist3{
    width: 360px;
}
.brandlist4{
    width: 180px;
}
.branditem>a{
    display: block;
    width: 70%;
    height: 70%;
}

.brandlist1>.branditem{
    background: #89C054;
}
.brandlist2>.branditem{
    background: #7DBEE1;
}
.brandlist3>.branditem{
    background: #E87771;
}
.brandlist4>.branditem{
    background: #EEA048;
}

.brandlist1>.branditem:nth-of-type(1)>a{
    background: url("../img/item/item(1).png") center /  cover no-repeat;
}
.brandlist1>.branditem:nth-of-type(2)>a{
    background: url("../img/item/item(2).png") center /  cover no-repeat;
}
.brandlist1>.branditem:nth-of-type(3)>a{
    background: url("../img/item/item(3).png") center /  cover no-repeat;
}
.brandlist1>.branditem:nth-of-type(4)>a{
    background: url("../img/item/item(4).png") center /  cover no-repeat;
}
.brandlist1>.branditem:nth-of-type(5)>a{
    background: url("../img/item/item(5).png") center /  cover no-repeat;
}
.brandlist1>.branditem:nth-of-type(6)>a{
    background: url("../img/item/item(6).png") center /  cover no-repeat;
}
.brandlist1>.branditem:nth-of-type(7)>a{
    background: url("../img/item/item(7).png") center /  cover no-repeat;
}
.brandlist1>.branditem:nth-of-type(8)>a{
    background: url("../img/item/item(8).png") center /  cover no-repeat;
}

.brandlist2>.branditem:nth-of-type(1)>a{
    background: url("../img/item/item(9).png") center /  cover no-repeat;
}
.brandlist2>.branditem:nth-of-type(2)>a{
    background: url("../img/item/item(10).png") center /  cover no-repeat;
}
.brandlist2>.branditem:nth-of-type(3)>a{
    background: url("../img/item/item(11).png") center /  cover no-repeat;
}
.brandlist2>.branditem:nth-of-type(4)>a{
    background: url("../img/item/item(12).png") center /  cover no-repeat;
}
.brandlist2>.branditem:nth-of-type(5)>a{
    background: url("../img/item/item(13).png") center /  cover no-repeat;
}
.brandlist2>.branditem:nth-of-type(6)>a{
    background: url("../img/item/item(14).png") center /  cover no-repeat;
}
/*.brandlist2>.branditem:nth-of-type(7)>a{
    background: url("../img/item/item(15).png") center /  cover no-repeat;
}
.brandlist2>.branditem:nth-of-type(8)>a{
    background: url("../img/item/item(16).png") center /  cover no-repeat;
}*/

.brandlist3>.branditem:nth-of-type(1)>a{
    background: url("../img/item/item(17).png") center /  cover no-repeat;
}
.brandlist3>.branditem:nth-of-type(2)>a{
    background: url("../img/item/item(18).png") center /  cover no-repeat;
}
.brandlist3>.branditem:nth-of-type(3)>a{
    background: url("../img/item/item(19).png") center /  cover no-repeat;
}
.brandlist3>.branditem:nth-of-type(4)>a{
    background: url("../img/item/item(20).png") center /  cover no-repeat;
}
.brandlist3>.branditem:nth-of-type(5)>a{
    background: url("../img/item/item(21).png") center /  cover no-repeat;
}
.brandlist3>.branditem:nth-of-type(6)>a{
    background: url("../img/item/item(22).png") center /  cover no-repeat;
}
/*.brandlist3>.branditem:nth-of-type(7)>a{
    background: url("../img/item/item(23).png") center /  cover no-repeat;
}
.brandlist3>.branditem:nth-of-type(8)>a{
    background: url("../img/item/item(24).png") center /  cover no-repeat;
}*/

.brandlist4>.branditem:nth-of-type(1)>a{
    background: url("../img/item/item(15).png") center /  cover no-repeat;
}
.brandlist4>.branditem:nth-of-type(2)>a{
    background: url("../img/item/item(16).png") center /  cover no-repeat;
}
.brandlist4>.branditem:nth-of-type(3)>a{
    background: url("../img/item/item(23).png") center /  cover no-repeat;
}
/*.brandlist4>.branditem:nth-of-type(4)>a{
    background: url("../img/item/item(28).png") center /  cover no-repeat;
}*/




/*页脚*/
.footer {
    width: 100%;
    height:auto;
    overflow: visible;
    text-align: center;
    color: #b5b5b6;
    background: url("../img/u.jpg") center no-repeat;
    background-size: cover;
}
.footer_inner {
    margin-left: 93px;
    position: relative;
}
.social {
    padding: 61px 0 32px;
}
.footer a {
    color: #b5b5b6;
}
.social_item {
    display: inline-block;
    cursor: pointer;
    text-align: center;
    position: relative;
}
.social_item i {
    display: block;
    margin: 0 auto 15px;
    width: 54px;
    height: 54px;
    background: url(../img/8X.png) 0 0 no-repeat;
    background-size: 108px;
}
.social_weibo {
    margin-right: 20px;
}
.social_weixin i {
    background-position: -54px 0;
}
.footer .copyright {
    padding: 0 2em 86px;
    line-height: 1.8;
}
.footer .beian {
    width: 20px;
    height: 20px;
    background: url(../img/ef.png) 0 0 no-repeat;
    background-size: 100%;
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
    position: relative;
    top: -2px;
}
/*页脚结束*/
/*主体结束*/